<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utif-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Homepage</title>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
    <p>Welcome to homepage!</p>
    <footer>
        <nav>
            <ul>
                <li><a hfref="privacy.html">Privacy</a></li>
               <li><a href="tandc.html">Terms and Conditions</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </footer>
</body>