<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health+</title>
    <link rel="stylesheet" href="../reset.css" type="text/css" />
    <link rel="stylesheet" href="main.css" type="text/css" />
</head>
<body>
    <header>
        <div class="wrapper">
                <img src="../../../assets/FDMlogo.png" alt="FDM logo" height="30">
            <div class="header-text">
                <h1>Health+</h1>
            </div>
        </div>
    </header>
    <div class="main">
        <h3>Welcome to Health+!</h3>
        <p>Health+ is a Wellbeing WebApp, specifically targeted towards FDM consultants and internal staff. <br>
        Health+ will provide fitness, mental health and general wellbeing support through features like: trackers, various resources on these topics, <br>
        forums and a chat(??) platform, where FDM Employees will be able to contact one of the 30 Mental Health Ambassadors.</p>
        <div class="button"><button><a class="b" href="../login/login.html">Click here to login!</a></button></div>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="../../Homepage/privacy/priv.html">Privacy</a></li>
                <li><a href="../../Homepage/termsconditions/tandc.html">Terms and Conditions</a></li>
                <li><a href="../../Homepage/faq/faqs.html">FAQs</a></li>
                <li><a href="../../Homepage/contact/contact.html">Contact the Team</a></li>
            </ul>
        </nav>
    </footer>
</body>

