

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health+</title>
    <link rel="stylesheet" href="../reset.css" type="text/css" />
    <link rel="stylesheet" href="../header.css" type="text/css" />
    <link rel="stylesheet" href="../footer.css" type="text/css" />
</head>
<body>
    <header>
        <div>FDM Logo Placeholder</div>
    </header>
    <form>
        <fieldset>
            <legend>Health+ Logo//<br />Sign in to Health+</legend>
            <section>
            <p>
                <label>Username</label><br/>
                <input type="username" name="username" placeholder="Username" required/>
            </p>
            <p>
                <label>Password</label><br/>
                <input type="password" name="password" placeholder="Password" minlength="8" required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}" title="Must contain at least 8 characters,
                one uppercase and lower case letter and at least one number."/>
                <nav><p>Forgot password?</p></nav>
            </p>
            <a href="home.html"><input type="submit" value="Login"/></a>
          </section>
        </fieldset>
    </form>
    <footer>
        <nav>
            <ul>
                <li><a href="../footer/privacy/priv.html">Privacy</a></li>
                <li><a href="../footer/tc/tandc.html">Terms and Conditions</a></li>
                <li><a href="../footer/faq/faqs.html">FAQs</a></li>
                <li><a href="../footer/contact/contact.html">Contact the Team</a></li>
            </ul>
        </nav>
    </footer>
</body>