<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Health+</title>
    <link rel="stylesheet" href="../reset.css" type="text/css" />
    <link rel="stylesheet" href="../header.css" type="text/css" />
    <link rel="stylesheet" href="../footer.css" type="text/css" />
    <link rel="stylesheet" href="../footer/footer_pages.css" type="text/css" />

</head>
<body>
        <header>
            <div class="wrapper">
                    <img src="../assets/FDMlogo.png" alt="FDM logo" height="30">
                <div class="header-text">
                    <h1> <a href="../homepage/home.html">Health+</a></h1>
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="../Track/trackermainpage.html">Track</a></li>
                            <li><a href="../forum/forum.html">Forum</a></li>
                            <li><a href="../contact/contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div class="main">
        <h3>Support Helplines</h3>
        <p>UK:</p>
        <p><a href="https://www.samaritans.org/">Samaritans</a></p>
        <p><a href="https://www.spuk.org.uk/national-suicide-prevention-helpline-uk/">National Suicide Prevention Helpline UK</a></p>
        <p><a href="https://www.nhs.uk/nhs-services/mental-health-services/">NHS Mental Health Services</a></p>
        <p><a href="https://switchboard.lgbt/">Switchboard (LGBTQ+)</a></p>
        <p><a href="https://combatstress.org.uk/helpline">Combat Stress (Ex-Forces)</a></p>
        <p><a href="https://www.gov.uk/guidance/urgent-help-for-veterans">Ex-Forces Helplines</a></p>
        <p>International:</p>
        <p><a href="https://www.telefonseelsorge.de/">German Mental Health Helpline</a></p>
        <p><a href="https://www.gov.sg/article/call-these-helplines-if-you-need-emotional-or-psychological-support">Singapore Helplines</a></p>
        <p><a href="https://lifelinechina.org/">Helpline in China</a></p>
        <p><a href="https://www.healthdirect.gov.au/mental-health-helplines"></a>Australian Helplines</p>
        <p><a href="https://mhanational.org/get-involved/contact-us">Mental Health America</a></p>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="../footer/privacy/priv.html">Privacy</a></li>
                <li><a href="../footer/tc/tandc.html">Terms and Conditions</a></li>
                <li><a href="../footer/faq/faqs.html">FAQs</a></li>
                <li><a href="../footer/contact/contact.html">Contact the Team</a></li>
            </ul>
        </nav>
    </footer>
</body>
