/*
h1{
    font-size: medium;
  }
  
  .main{
    margin: auto;
    width: 80%;
  
  } 
  
  h3{
    display: block;
    font-size: 2em;
    color: rgb(130, 121, 121);
    margin-top: 5em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  p{
    padding-bottom: 1rem;
    color: rgb(130, 121, 121);
  }
  
  a{
    text-decoration: none;
  }
.pageinfo{

  text-align: center;
}
.track{
    outline: auto;
    width: 25%;
    outline-color:rgb(130, 121, 121);
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2.85%;
    margin-bottom: 2.85%;
}

.articles{
    outline: auto;
    width: 25%;
    outline-color:rgb(130, 121, 121);
    color:rgb(130, 121, 121);
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
*/

.main {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.pageinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  width: 45rem;
  margin:15rem auto;
}

#trackinfo{
  padding: 1rem;
}

.articles a {
  color: rgb(0, 0, 204);
  text-decoration: none;
}

.articles{
  padding-top:0.5rem;
}

.articles a:hover {
  text-decoration: underline;
}

#trackinfo {
  background-color: #eee;
  border: 1px solid #ccc;
}
