/*
h1{
    font-size: medium;
  }
  
  .main{
    margin: auto;
    width: 80%;
  
  } 
  
  h3{
    display: block;
    font-size: 2em;
    color: rgb(130, 121, 121);
    margin-top: 5em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  p{
    padding-bottom: 1rem;
    color: rgb(130, 121, 121);
  }
  
  a{
    text-decoration: none;
  }
.pageinfo{

  text-align: center;
}
.track{
    outline: auto;
    width: 25%;
    outline-color:rgb(130, 121, 121);
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2.85%;
    margin-bottom: 2.85%;
}

.articles{
    outline: auto;
    width: 25%;
    outline-color:rgb(130, 121, 121);
    color:rgb(130, 121, 121);
    display: inline-block;
    vertical-align: top;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
*/

h2{
  font-size: 4rem;
  font-weight: 800;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

h3{
  font-size: 2rem;
  font-weight: 800;
}

h2, h3 {
  text-align: center;
}


.main{
  margin: auto;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trackers {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #f2f2f2;
}

.articles {
  border: 1px solid #ccc;
  padding: 1rem;
}


.articles, .trackers {
  width:45%;
  font-size: 150%;
}

.articles a {
  color: rgb(0, 0, 204);
  text-decoration: none;
}

.articles a:hover {
  text-decoration: underline;
}

