<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Chat Bot</title>

    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/home.css">

</head>

<body>

    <!-- Pop-up box -->
    <div class="chat-bar">
        <button id="chat-button" type="button" class="collapsible">Chat with us!
        </button>
        <div class="content">
            <div class="full-chat-block">

                <!-- Message box -->
                <div class="outer-container">
                    <div class="chat-container">

                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">

                            <!-- User input--> 
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <img src="heart.png" alt="like" class="heart" onclick="heartButton()">
                                <img src="send.png" alt="send" class="submit" onclick="sendButton()">
                            </div>
                        </div>
                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="static/scripts/responses.js"></script>
<script src="static/scripts/chat.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>