.content{
        margin: 10rem auto;
        text-align: center;
        
}

.content h3{
    font-size: 300%;
    font-weight: 800;
}

.content a{
    text-decoration: none;
}

.buttons{
    margin-top: 2.5rem;
    display:inline-block;
}

.buttons a {
    color:black;
    margin-inline:0.5rem;
    padding: 1rem;
    background-color: rgb(207, 238, 207);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    font-size: 2rem;
}

.buttons a:hover {
    background-color: #03a500;
}
