body {
  margin-top: 120px; 
  margin-bottom: 80px; 
  font-family: Arial, sans-serif;
}

.mood-tracking {
  background-color: #f2f2f2; 
  padding: 40px; 
  max-width: 800px; 
  margin: 0 auto; 
}


.mood-tracking button[type="submit"] {
  background-color: #000;
  color: #fff; 
}

body:not(.header):not(.footer) {
  background-color: #fff; 
}

.mood-image {
  display: block;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px; 
  height: 50px; 
  object-fit: cover;
}

.mood-tracking p {
  margin-bottom: 20px; 
  line-height: 1.5; 
}

.mood-tracking h2 {
  margin-bottom: 10px;
}

.mood-tracking .question {
  margin-bottom: 20px; 
}

.mh{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sl{
  margin-bottom: 20px;
}

.sq{
  margin-bottom: 20px;
}

.m{
  margin-bottom: 20px;
}

.j{
  margin-top: 20px;
}

.s{
  margin-top: 20px;
  
}
