body {
  margin-top: 120px; /* Set the margin to the height of the header */
  margin-bottom: 80px; /* Set the margin to the height of the footer */
  font-family: Arial, sans-serif;
}

.mood-tracking {
  background-color: #f2f2f2; /* light grey box */
  padding: 40px; /* add some padding to the box */
  max-width: 800px; /* set the maximum width of the box */
  margin: 0 auto; /* center the box horizontally */
}


.mood-tracking button[type="submit"] {
  background-color: #000;
  color: #fff; /* set text color to white */
}

body:not(.header):not(.footer) {
  background-color: #fff; /* white background, excluding header and footer */
}

.mood-image {
  display: block;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px; /* set the width of the images */
  height: 50px; /* set the height of the images */
  object-fit: cover;
}

.mood-tracking p {
  margin-bottom: 20px; /* add some space between the paragraphs */
  line-height: 1.5; /* set the line height for better readability */
}

.mood-tracking h2 {
  margin-bottom: 10px;
}

.mood-tracking .question {
  margin-bottom: 20px; /* add some space under each question */
}

.mh{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sl{
  margin-bottom: 20px;
}

.sq{
  margin-bottom: 20px;
}

.m{
  margin-bottom: 20px;
}

.j{
  margin-top: 20px;
}

.s{
  margin-top: 20px;
  
}
